#brand h2 {
  color: #575153 !important;
}
#brand p {
  color: #575153 !important;
  font-weight: 500;
  font-size: 95%;
}
#brand .bold {
  font-weight: 600 !important;
}

.text-hover {
  color: #08c8c8;
  cursor: pointer;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .appear-at {
    display: block !important;
  }

  .dissapear-at {
    display: none !important;
  }

  #brand {
    text-align: center;
  }

  .shop-button {
    padding: 25px 20px !important;
  }
  .shop-button button {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .shop-button button p {
    margin: 0;
  }
}